name: Build

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Dependencies
      run: |
        sudo apt-get update
        sudo apt install \
          libglib2.0-dev \
          libgirepository1.0-dev \
          duktape-dev \
          meson \
          gcovr \
          gi-docgen \
          gsettings-desktop-schemas-dev \
          libcurl4-openssl-dev \
          valac
    - name: Build setup
      run: meson setup build -Db_coverage=true --wrap-mode=nodownload
    - name: Build
      run: ninja -C build
    - name: Tests and Coverage
      run: |
        ninja test -C build
        ninja coverage -C build
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: ./build/docs/libproxy-1.0/
        if-no-files-found: error
    - name: CodeCov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # required

  build-osx:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: |
          3.13
    - name: Setup
      run: |
        pip install meson ninja
        brew install gobject-introspection duktape gcovr gi-docgen vala gsettings-desktop-schemas
    - name: Build and Test
      run: |
        meson setup build -Ddocs=false --wrap-mode=nodownload
        ninja -C build
        ninja -C build test

  build-msvc:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v6
      with:
        python-version: '3.9'
    - name: Setup
      run: |
        pip install meson ninja
    - name: Build and test
      run: |
        meson setup --vsenv build -Ddocs=false -Dcurl=false -Dconfig-gnome=false -Dconfig-osx=false -Dconfig-kde=false -Dconfig-xdp=false -Dpacrunner-duktape=false -Dintrospection=false
        meson compile -C build
        meson test -C build

  build-msys2:
    runs-on: windows-latest
    continue-on-error: true
    env:
      CC: gcc
      CXX: g++
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          install: >-
            base-devel
            git
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-ccache
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-gobject-introspection
            mingw-w64-x86_64-python-gobject
            mingw-w64-x86_64-meson
            mingw-w64-x86_64-glib2
            mingw-w64-x86_64-duktape
            mingw-w64-x86_64-gi-docgen
            mingw-w64-x86_64-curl
            mingw-w64-x86_64-vala
            mingw-w64-x86_64-gsettings-desktop-schemas
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.9'
      - name: Build and Test
       # Disable docs for the moment until msys2 gi-docgen update has landed
        run: |
          meson setup build -Ddocs=false --wrap-mode=nodownload
          ninja -C build
          ninja -C build test

  # Deploy job
  deploy:
    # needs: [build-linux, build-osx, build-windows]
    needs: build-linux
    if: github.ref == 'refs/heads/main'

    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
